extends layout

block content
  .content
    ul
      each item in inventory
        li.productWrapper
          a(href=item.url)
            .item
              img(src='/images/' + item.name + '.jpg')
              p= item.name