doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
      div.headerBlock='Inventory Application'
      div.headerLinks
        div.headerLink Home
        div.headerLink Inventory
        div.headerLink Shipments
    block content
