doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
      div.headerBlock
        a(href='/inventory')
          h1= 'Inventory Application'
      div.headerLinks
        div.headerLink Categories
          .categoryDropDown
            a(href='/inventory/categories')
              div View
            a(href='/inventory/categories/create')
              div Create
        div.headerLink Inventory
          .inventoryDropDown
            a(href='/inventory/')
              div View
            a(href='/inventory/item/create')
              div Create
        div.headerLink Shipments
          .shipmentsDropDown
            a(href='/shipments/') 
              div View
            a(href='/shipments/create')
              div Create
    block content
